## Set default configs
REPOSITORY_BRANCH=main
ARGOCD_APP_FILE=root-dev-argocd-app.yaml
BOOTSTRAP_FILE=bootstrap.sh

# Secrets
REPOSITORY=https://github.com/ambkwok/eks-argocd
REPOSITORY_TOKEN=github_pat_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ARGOCD_PASSWORD=XXXXXXXXXXXXXXXX

# Extract the URLs
REPOSITORY_OWNER=$(echo $REPOSITORY | cut -d'/' -f4- | cut -d'/' -f1)
REPOSITORY_NAME=$(basename $(echo $REPOSITORY | cut -d'/' -f4- | cut -d'/' -f2) .git)
ARGOCD_APP_FILE_URL=https://${REPOSITORY_TOKEN}@raw.githubusercontent.com/${REPOSITORY_OWNER}/${REPOSITORY_NAME}/${REPOSITORY_BRANCH}/${ARGOCD_APP_FILE}
BOOTSTRAP_SCRIPT_URL=https://${REPOSITORY_TOKEN}@raw.githubusercontent.com/${REPOSITORY_OWNER}/${REPOSITORY_NAME}/${REPOSITORY_BRANCH}/${BOOTSTRAP_FILE}
